
    <h1>{{title}}</h1>
    <table class="table table-light table-striped table-hover">
        <thead>
             <th> Project Name</th>
             <th> Description</th>
             <th> Tools / Technologies Used</th>
             <th> Github Link</th>

        </thead>
        {{#each dataset}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.tools}}</td>
            <td><a href="{{this.hosted}}">{{this.hosted}}</a></td>
        </tr>
    {{/each}}
    </table>

